@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}



strong {
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

header svg {
  width: 52px;
}

header svg:nth-child(2) {
  display: none;
}

/* hero-section */




.greeting {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.greeting h1 {
  letter-spacing: 0.8em;
  font-size: 4rem;
  font-weight: 400;
}

.greeting p {
  font-weight: 400;
}

/* bio */

.bio {
 
  padding: 1em 4em;
  padding-top: 2em;
  margin: 4em;
  margin-top: 6em;

  background-color: black;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 100px;
  transition: all 0.3s ease-in;
  animation: scrolling 0.3s ease-in-out;
}

@keyframes scrolling {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.bio::before {
  content: "";
  position: absolute;
  background: linear-gradient(#00E941, hsla(0, 100%, 51%, 0));
  /* hsla(0, 100%, 51%, 1) */
  border-radius: 100px;
  margin: -1px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bio h1 {
  font-weight: 200;
}

.bio span {
  font-weight: 700;
}

.bio-detail {

  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  font-weight: 200;
}

@keyframes btnanim {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
  }
}




 a:hover {
  color: black;
  background: white;
}



.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title h2 {
  font-weight: 400;
}
.title p{

  opacity: 50%;

}

.project-info {
  width: 500px;
}

.project-info div img {
  width: 500px;
  border-radius: 2rem;
}

#read-more {
  background: linear-gradient(180deg, #00fa46 0%, #09842b 100%);
  border: 1px solid #ffffff;
  border-radius: 100px;

  margin-top: 4em;
  cursor: pointer;
  padding: 1rem 2rem;

  color: white;
  text-decoration: none;
  position: relative;

}




#read-more:hover {
  color: black;
  background: white;
}

/* Skill */

section.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: column;
}

.skill-detail {
  margin-top: 3em;
  display: flex;
  column-gap: 2em;
  color: white;
  justify-content: center;
  margin-bottom: 6em;
  padding: 2rem;
}

.skill-detail div {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  padding: 2rem;
  background: linear-gradient(180deg, #02DF40 0%, rgba(7, 197, 60, 0.51) 100%);
  gap: 2em;
  border-radius: 16px;
  animation: btnanim 5s linear infinite alternate;
  position: relative;


}


strong {

  font-size: 1rem;
  
}
/* detailContainer */

.detailContainer{

  display: flex;
  justify-content: center;
  align-content: center;


}

/* Mydetail */
.myDetail{

  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 800px;
  gap: 2rem;
  margin: 2rem;
  justify-content: space-between;
  align-items: center;

}

.resumeBtn{

  background: linear-gradient(136.68deg, #00E941 2.34%, #019C2C 102.42%);
  border: 1px solid #ffffff;
  border-radius: 50px;

  margin-top: 4em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: btnanim 5s linear infinite alternate;
  padding: 1rem 2rem;

  color: white;
  text-decoration: none;
  position: relative;

}

.resumeBtn:before{

  content: "";
top: 0;
left: 0;
right: 0;
bottom: 0;

position: absolute;

background: #00FA46;
filter: blur(73.5294px);
z-index: -1;
}

.detail{
 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  font-weight: lighter;
  justify-content: center;
  align-items:center;

}

.detail > img {

  width: 100%;
}

/* projectContainer */

.projectContainer
{
  margin: 2rem;
  text-align: center;
}

/* project */
.project{

  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

/* WebContainer */
#webContainer{

  display: flex;
  gap:2rem;
  overflow: scroll;

}
/* androidContainer */
#androidContainer{

  display: flex;
  gap:2rem;
  overflow: scroll;
  
}




/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding-top: 8em;
  background: hsla(0, 0%, 85%, 0.1);

}



.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;

}

.logo a:hover{

   background-color: black;
}

footer h2 {
  font-weight: 400;
}

footer h2 a:hover{

  background-color: black;
}

footer h3 a {


  color: white;
  text-decoration: none;


}

 

footer svg {
  width: 4rem;
  
}


ul {

  display: flex;
  
  justify-content: center;
  align-items: center;

}



/* media queries */

@media screen and (min-width: 600px) {
  .bio {
    margin: 6em;
    padding: 2em 1em;
  }
}

@media screen and (max-width: 600px) {
  .project-info div img {
    width: 300px;
  }

  .skill-detail{

    flex-direction: column;
    row-gap: 2em;
    font-size: 12px;
    
  }

  ul {

   
   
      flex-direction: column;

  }

   ul > li {

    margin-top: 2rem;
   }



  .project-info {
    width: 300px;
  }

  .greeting h1 {
    letter-spacing: 0.8em;
    font-size: 2rem;
    font-weight: 200;
  }

.bio {
    margin: 2em;
    border-radius: 32px;
    padding: 2em 1em;

  }

  .bio:before{
    border-radius: 32px;

  }
}

@media screen and (max-width: 500px) {
 

  .bio::before {
 
    /* background: linear-gradient(hsla(0, 100%, 51%, 1), hsla(0, 100%, 51%, 0)); */
    background-color: black;
   
  }
 

  header svg:nth-child(2) {
    display: block;
  }
  .bio {
    margin: 2em;
  }

  a {
    border: none;
  }

  .greeting h1 {
    letter-spacing: 0.8em;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    font-weight: 200;
  }
}


/* scroll transition */
.hidden{

opacity: 0;
filter: blur(3px);
transform: translateY(100px);
transition: all 1s;

}

.show {

  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}



[aria-selected="true"]{

  background: linear-gradient(136.68deg, #00E941 2.34%, #019C2C 102.42%);
  border: none;
}


