@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

strong {
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

header svg {
  width: 52px;
}

header svg:nth-child(2) {
  display: none;
}

/* hero-section */

.greeting {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.greeting h1 {
  letter-spacing: 0.8em;
  font-size: 4rem;
  font-weight: 400;
}

.greeting p {
  font-weight: 400;
}

/* bio */

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2em;
  text-align: center;
  padding: 1em;
  padding-top: 2em;
  height: 90vh;
  margin: 4em;
  margin-top: 6em;

  background-color: black;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 100px;
  transition: all 0.3s ease-in;
  animation: scrolling 0.3s ease-in-out;
}

@keyframes scrolling {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.bio::before {
  content: "";
  position: absolute;
  background: linear-gradient(hsla(0, 100%, 51%, 1), hsla(0, 100%, 51%, 0));
  border-radius: 100px;
  margin: -1px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bio h1 {
  font-weight: 200;
}

.bio span {
  font-weight: 700;
}

.bio-detail {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  font-weight: 200;
}

@keyframes btnanim {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
  }
}

.bio a {
  background: linear-gradient(180deg, #00fa46 0%, #09842b 100%);
  border: 1px solid #ffffff;
  border-radius: 100px;

  margin-top: 4em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: btnanim 5s linear infinite alternate;
  padding: 1rem 2rem;

  color: white;
  text-decoration: none;
}

.bio > a:hover {
  color: white;
  background: #00fa46;
}

/* Portfolio */

section.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(hsla(0, 0%, 85%, 0), hsla(0, 0%, 85%, 0.1));
}
section.portfolio h1 {
  margin-bottom: 4em;
}

.project-info {
  margin-bottom: 4em;
}

#project-img {
  width: 24px;
  height: 24px;
}

.title #name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  color: white;
  text-decoration: none;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title h2 {
  font-weight: 400;
}

.project-info {
  width: 500px;
}

.project-info div img {
  width: 500px;
  border-radius: 2rem;
}

#read-more {
  background: linear-gradient(180deg, #00fa46 0%, #09842b 100%);
  border: 1px solid #ffffff;
  border-radius: 100px;

  margin-top: 4em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: btnanim 5s linear infinite alternate;
  padding: 1rem 2rem;

  color: white;
  text-decoration: none;
}

#read-more:hover {
  color: white;
  background: #00fa46;
}

/* Skill */

section.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-detail {
  margin-top: 3em;
  display: flex;
  column-gap: 2em;
  color: white;
  justify-content: center;
  margin-bottom: 6em;
}

.skill-detail h2 {
  font-weight: 400;
  width: 200px;
  height: 200px;
  padding: 2rem;
  background: linear-gradient(180deg, #00fa46 0%, #09842b 100%);
  border: 1px solid #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  animation: btnanim 5s linear infinite alternate;
  align-items: center;
  text-align: center;


}





/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-top: 8em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

footer h2 {
  font-weight: 400;
}

footer svg {
  width: 4rem;
}

/* media queries */

@media screen and (min-width: 600px) {
  .bio {
    margin: 6em;
  }
}

@media screen and (max-width: 600px) {
  .project-info div img {
    width: 300px;
  }

  .skill-detail h2 {
   width: 100px;
   height: 100px;
   font-size: 16px;
   padding: 1em;
  
  
  }

  .project-info {
    width: 300px;
  }

  .greeting h1 {
    letter-spacing: 0.8em;
    font-size: 2rem;
    font-weight: 200;
  }

  .bio {
    margin: 2em;
  }
}

@media screen and (max-width: 500px) {
  header {
    justify-content: space-between;
  }

  header svg:nth-child(2) {
    display: block;
  }
  .bio {
    margin: 2em;
  }

  a {
    border: none;
  }

  .greeting h1 {
    letter-spacing: 0.8em;
    font-size: 1.5rem;
    font-weight: 200;
  }
}
