.cont{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 2em;
}

.music_wave {
    width: 250px;
    height: 50px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  .music_wave .wave {
    width: 5px;
    height: 80px;
    border-radius: 5px;
    animation: musicwave 1.5s ease-in-out infinite;
  }
  @keyframes musicwave {
    0%,
    100% {
      transform: scaleY(0.1);
    }
    50% {
      transform: scaleY(1);
    }
  }
  .music_wave .wave:nth-child(1) {
    background-color: #641e1e;
    animation-delay: 1s;
  }
  .music_wave .wave:nth-child(2) {
    background-color: #c54848;
    animation-delay: 0.8s;
  }
  .music_wave .wave:nth-child(3) {
    background-color: #641e1e;
    animation-delay: 0.6s;
  }
  .music_wave .wave:nth-child(4) {
    background-color: #c54848;
    animation-delay: 0.4s;
  }
  .music_wave .wave:nth-child(5) {
    background-color: #641e1e;
    animation-delay: 0.2s;
  }
  .music_wave .wave:nth-child(6) {
    background-color: #c54848;
    animation-delay: 0.2s;
  }
  .music_wave .wave:nth-child(7) {
    background-color: #641e1e;
    animation-delay: 0.4s;
  }
  .music_wave .wave:nth-child(8) {
    background-color: #c54848;
    animation-delay: 0.6s;
  }
  .music_wave .wave:nth-child(9) {
    background-color: #641e1e;
    animation-delay: 0.8s;
  }
  .music_wave .wave:nth-child(10) {
    background-color: #c54848;
    animation-delay: 1s;
  }